# OpenAI
OPENAI_API_KEY=""
OPENAI_MODEL="gpt-4o-mini"

# LangSmith
LANGSMITH_API_KEY=""
LANGSMITH_TRACING=true
LANGSMITH_PROJECT="multi-agent-ai-system"

# Chinook Sample DB
CHINOOK_SQL_URL="https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_Sqlite.sql"

# CORS
FRONTEND_ORIGINS="http://localhost:5173,http://localhost:3000"